
 .navbar_color
 {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }

 nav ul li a{
  text-decoration: none;
 }
 nav ul li a:active
 {
  text-decoration: underline;
  
 }
 
 .intro
 {
    margin-left: 20%;
    margin-top: 30%;
    opacity: 0;
    transform:scale(2);
    filter: blur(10px);
    animation: zoomFromCenter 1s ease-out forwards;
    animation-delay: 0.3s;
 }
 @keyframes zoomFromCenter {
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}
 .btn_about
 {
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #94bbe9;
 }
 .btn_about:hover
 {
   background-color: black;
   color: white;
 }
 .image{
   border-radius: 50%;
   height: 50%;
   width: 50%;
   margin-top: 20%;
 }
 


/* SKILL PAGE START */


.draw_line
  {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
.skill-row
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.skill-info {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
 }
.skill-card
{
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   transition: 0.3s;
   width: 45%;
}
.skill-card:hover {
   transform: translateY(-5px);
   background-color: #e3f2fd;
 }
 .skill-card i {
   font-size: 2rem;
 }
 .skill-card-last
 {
   width: 100%;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   transition: 0.3s;
 }
 .skill-card-last:hover{
   transform: translateY(-5px);
   background-color: #e3f2fd;
 }
 .skill-image
 {
   width: 38%;
   height: 80%;
   object-fit: cover;
   border-radius: 30%;
   margin-left: 1%;
 }
 @media (max-width: 768px) {
   .skill-card {
     width: 100%;
   }

   .skill-row {
     flex-direction: column;
     align-items: center;
   }

   .skill-image {
     margin-top: 1rem;
   }
}